.swiper-container {
    width: 100%;
    height: 300px; /* Adjust the height according to your preference */
    margin: 20px 0;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
  }
  